{
     "trailingComma": "es5",
     "tabWidth": 5,
     "semi": false,
     "singleQuote": true,
     "experimentalTernaries": true,
     "bracketSpacing": true,
     "bracketSameLine": false,
     "printWidth": 80,
     "arrowParens": "always",
     "plugins": [
          "prettier-plugin-organize-imports",
          "prettier-plugin-tailwindcss"
     ]
}
